.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;

    .footer__copyright{
        font-family: $font-family-mono;
        font-size: 0.875rem;
    }

    .footer__brands{
        padding: 5% 0 0;
        span{            
            padding: 0 15px;
            font-size: 1.125rem;
        }

        .footer__brand--telegram{            
            display: inline-block;
        }
    }
}