$font-size-root: 16px;
$font-family-mono: 'IBM Plex Mono', monospace;
$font-family-sans: 'IBM Plex Sans', sans-serif;
$color-primary: #0000EC;
$color-secondary: #00F3BB;
$color-text: #060A24;
$color-disabled: #060A24;
