@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "IBM Plex Sans", sans-serif;
}

.header .header__nav .header__nav--items .header__nav--item a, .header .header__nav--mobile .header__mobile .header__mobile--menu .header__mobile--item a {
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
}

.header .header__nav .header__nav--items .header__nav--item a:hover, .header .header__nav--mobile .header__mobile .header__mobile--menu .header__mobile--item a:hover {
  text-decoration: line-through;
  color: #00F3BB;
}

.header .header__nav .header__nav--items .header__nav--item a:active, .header .header__nav--mobile .header__mobile .header__mobile--menu .header__mobile--item a:active {
  text-decoration: line-through;
  color: rgba(6, 10, 36, 0.56);
}

.header .header__title .header__title--button, .novedades .novedades__button {
  background-color: #00F3BB;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125rem;
  font-weight: 700;
  color: #060A24;
  border: none;
  height: 3.5rem;
  width: 30%;
}

.header .header__title .header__title--button:hover, .novedades .novedades__button:hover {
  border: none;
  color: #fff;
  background-image: linear-gradient(225deg, #0000EC 0%, #00F3BB 100%);
}

.header .header__title .header__title--button:focus, .novedades .novedades__button:focus {
  outline: none;
}

.header {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.header .header__nav {
  display: none;
}

.header .header__nav--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__nav--mobile .header__mobile {
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .header__nav--mobile .header__mobile .header__mobile--menu {
  position: absolute;
  width: 100%;
  margin: 0 0 0 -85%;
  padding: 30px;
  background: #0000EC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.header .header__nav--mobile .header__mobile .header__mobile--menu .header__mobile--item {
  padding: 10px 0;
  font-size: 1rem;
}

.header .header__nav--mobile .header__mobile .header__mobile--menu .header__mobile--item a {
  color: white;
}

.header .header__nav--mobile .header__mobile input {
  width: 40px;
  position: relative;
  top: 17px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

.header .header__nav--mobile .header__mobile input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.header .header__nav--mobile .header__mobile input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

.header .header__nav--mobile .header__mobile input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.header .header__nav--mobile .header__mobile input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

.header .header__nav--mobile .header__mobile span {
  display: block;
  width: 26.5px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #060A24;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.header .header__nav--mobile .header__mobile span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.header .header__nav--mobile .header__mobile span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.header .header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6rem 19rem 0 11rem;
  margin: 5% 0;
}

.header .header__title .header__title--text {
  font-size: 2.25rem;
}

.header .header__title .header__title--text .title__text--last {
  color: #0000EC;
}

.header .header__title .header__title--description {
  font-family: "IBM Plex Mono", monospace;
  margin: 4% 0;
}

.header .header__title .header__title--button {
  margin-top: 5rem;
  width: auto;
}

.episodios {
  background: linear-gradient(225deg, #0000EC 0%, #0000A3 100%);
  padding: 0 5%;
  height: 1250px;
  overflow: hidden;
  position: relative;
}

.episodios::before {
  background: white;
  bottom: 100%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  width: 150%;
}

.episodios::after {
  background: white;
  top: 100%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  width: 150%;
}

.episodios .episodios__title {
  color: white;
  font-weight: normal;
  margin: 15% 0 0;
  font-size: 2.25rem;
}

.episodios .episodios__podcast {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  margin: 0;
}

.episodios .episodios__podcast .episodios__podcast--item {
  padding: 2% 0;
}

.entrevistas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.entrevistas .entrevistas__venimos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

.entrevistas .entrevistas__venimos .entrevistas__image {
  height: auto;
  margin-top: -30%;
  z-index: 1000;
  max-width: 100%;
}

.entrevistas .entrevistas__venimos .entrevistas__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.entrevistas .entrevistas__venimos .entrevistas__text .entrevistas__text--title {
  font-size: 2.25rem;
  color: #060A24;
}

.entrevistas .entrevistas__venimos .entrevistas__text .entrevistas__text--description {
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  padding: 5% 0;
}

.entrevistas .entrevistas__invitadas .entrevistas__invitadas--title {
  color: #060A24;
  font-weight: normal;
  margin: 5% 0;
  padding: 0 5%;
  font-size: 2.25rem;
}

.entrevistas .entrevistas__invitadas .invitadas__items {
  display: -ms-grid;
  display: grid;
  padding: 0;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.entrevistas .entrevistas__invitadas .invitadas__items .invitadas__item .invitadas__item--image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.topicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

.topicos .topicos__title {
  color: #060A24;
  font-weight: normal;
  margin: 10% 0;
  font-size: 2.25rem;
}

.topicos .topicos__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15%;
}

.topicos .topicos__items .topicos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0;
}

.topicos .topicos__items .topicos__item .topicos__item--title {
  margin: 5%;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.novedades {
  background: linear-gradient(225deg, #0000EC 0%, #0000A3 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12%;
  overflow: hidden;
  position: relative;
}

.novedades::before {
  background: white;
  bottom: 100%;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
  width: 150%;
}

.novedades .novedades__title {
  color: white;
  font-weight: normal;
  font-size: 2.25rem;
  text-align: center;
}

.novedades .novedades__button {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8%;
}

.footer .footer__copyright {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
}

.footer .footer__brands {
  padding: 5% 0 0;
}

.footer .footer__brands span {
  padding: 0 15px;
  font-size: 1.125rem;
}

.footer .footer__brands .footer__brand--telegram {
  display: inline-block;
}

@media only screen and (min-width: 980px) {
  .header {
    padding: 0;
  }
  .header .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6rem;
    padding: 0.5rem;
  }
  .header .header__nav .header__nav--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .header .header__nav .header__nav--items .header__nav--item {
    padding: 0 1rem;
  }
  .header .header__nav--mobile {
    display: none;
  }
  .header .header__title {
    margin: 6rem 19rem 0 11rem;
  }
  .header .header__title .header__title--text {
    font-size: 4rem;
  }
  .header .header__title .header__title--description {
    margin-right: 40%;
  }
  .header .header__title .header__title--button {
    margin: 10px 0 0;
    width: 250px;
  }
  .episodios {
    padding: 0 5%;
    height: 1150px;
  }
  .episodios .episodios__title {
    font-size: 3rem;
    margin: 13% 11rem 0;
  }
  .episodios .episodios__podcast {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    margin: 0 5%;
  }
  .episodios .episodios__podcast .episodios__podcast--item {
    padding: 5%;
  }
  .entrevistas .entrevistas__venimos {
    padding: 0 11%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .entrevistas .entrevistas__venimos .entrevistas__image {
    margin-top: -15%;
    height: auto;
  }
  .entrevistas .entrevistas__venimos .entrevistas__text {
    padding-left: 5%;
  }
  .entrevistas .entrevistas__venimos .entrevistas__text .entrevistas__text--title {
    font-size: 3rem;
  }
  .entrevistas .entrevistas__venimos .entrevistas__text .entrevistas__text--description {
    padding-top: 5%;
    padding-right: 40%;
  }
  .entrevistas .entrevistas__invitadas .entrevistas__invitadas--title {
    font-size: 3rem;
    margin: 0 11rem 5%;
  }
  .entrevistas .entrevistas__invitadas .invitadas__items {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .topicos .topicos__title {
    font-size: 3rem;
    margin: 5% 11rem 6%;
  }
  .topicos .topicos__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .novedades .novedades__title {
    font-size: 3rem;
  }
  .novedades .novedades__button {
    width: 30%;
  }
  .footer {
    padding: 3% 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__brands {
    padding: 0;
  }
  .footer .footer__brands span {
    padding: 0 10px;
  }
  .footer .footer__brands .footer__brand--telegram {
    display: none;
  }
}

@media only screen and (min-width: 500px) and (max-width: 720px) {
  .episodios {
    height: 1350px;
  }
  .entrevistas .entrevistas__venimos .entrevistas__image {
    margin-top: -25%;
  }
}

@media only screen and (min-width: 720px) and (max-width: 980px) {
  .episodios {
    height: 1550px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1280px) {
  .episodios {
    height: 1000px;
  }
  .entrevistas .entrevistas__venimos .entrevistas__image {
    margin-top: -20%;
  }
}
/*# sourceMappingURL=style.css.map */